.formSignin {
  margin: 0 auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.form-name {
  margin-bottom: 10px;
}
.form-input {
  margin-bottom: 10px;
}
