<div class="py-4 px-4 h-full p-3 bg-blackcolor border-l-[1px] border-sky-50">
  <div class="mb-7">
    <form
      class="relative flex"
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit()"
    >
      <input
        type="text"
        placeholder="Quick Search.."
        name="search"
        formControlName="searchValue"
        class="w-full p-2 bg-black border-[1px] rounded-md pr-3 pr-[40px]"
      />
      <button type="submit" class="absolute pl-3 right-3 top-2">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
  <div>
    <span class="text-xl font-semibold">Popular movies</span>
    <div class="w-full mt-2">
      <app-search-card
        *ngFor="let movie of data"
        [dataMovies]="movie"
      ></app-search-card>
    </div>
  </div>
</div>
